/*doc
---
title: Striped table
name: stripedTable
category: Tables
---
Apply the `stripedTable` class to add a background
stripe to every other row of the table.

```html_example
<table class="stripedTable">
	<thead>
		<tr>
			<th>State</th>
			<th>Number of escalators</th>
			<th>State bird</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>New York</th>
			<td>7,674</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Wyoming</th>
			<td>2</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Oregon</th>
			<td>400</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Florida</th>
			<td>n/a</td>
			<td>Cardinal</td>
		</tr>
	</tbody>
</table>
```

*/
.stripedTable {
	tbody {
		tr:nth-child(odd) td,
		tr:nth-child(odd) th {
			background-color: $C_lightGray;
			.inverted & {
				background-color: $C_textTertiary;
			}
		}
	}
}
