html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

body {
	position: relative; // for the sake of views
}

/* {{{ Inline tag defaults */
abbr, strong, acronym, span, small, time, strike, sub, sup, a {
	display: inline;
}
abbr, acronym {
	border-width: 0;
}
b,strong { font-weight: $W_bold; }
sup, sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* }}} */

/* {{{ Block tag defaults */
p, ul, ol, blockquote,
form, fieldset, legend,
table, dl,dd,
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
	margin: 0;
	padding: 0;
}
form, legend {
	margin-bottom: 0;
}
img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 0;
	&.resample { /* assuming we're sizing an img down on the client */
		-ms-interpolation-mode: bicubic;
		image-rendering: optimizeQuality;
	}
}
ul, ol {
	@extend %list--reset;
}
li {
	margin: 0;
	padding: 0;
}
/* }}} */

/* {{{ HTML5 element defaults (for when the time comes) */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
}
/* }}} */

// TODO: needs table defaults
