/*doc
---
title: Chunk
name: chunk
category: Layout
---
Adds bottom space to an element
or a group of elements.

_Can be used in combination with any other component
(ie. `class="row chunk"`)_

```html_example
<div class="_DOC-SHADE chunk">
	<h2>Some heading</h2>
	<p>Some text</p>
	<p class="text--caption">Some kind of caption</p>
</div>

<p class="text--caption chunk">Chunky caption</p>

<div class="_DOC-SHADE chunk">
	<h2>Some heading</h2>
	<p>Some text</p>
	<p class="text--caption">Some kind of caption</p>
</div>
```
*/
%chunk,
.chunk {
	@extend %clearfix;
	display: block;
	margin-bottom: $space !important;
}
