/*doc
---
title: Grid List
name: gridList
category: Layout
---
A grid layout with breakpoint-specific configurable columns.
Useful for collections of photos, group cards, or event cards.

For a layout with a fixed number of columns, use `row`.

```html_example
<ul class="gridList gridList--has1 atMedium_gridList--has3 atLarge_gridList--has4">
	<li class="gridList-item _DOC-SHADE">grid cell</li>
	<li class="gridList-item _DOC-SHADE">grid cell</li>
	<li class="gridList-item _DOC-SHADE">grid cell</li>
	<li class="gridList-item _DOC-SHADE">grid cell</li>
	<li class="gridList-item _DOC-SHADE">grid cell</li>
	<li class="gridList-item _DOC-SHADE">grid cell</li>
	<li class="gridList-item _DOC-SHADE">grid cell</li>
	<li class="gridList-item _DOC-SHADE">grid cell</li>
</ul>
```
*/
$glColumns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

%_gridList--item {
	font-size: 1rem;
	display: inline-block;
	margin: 0;
	padding: 0 $space $space 0;
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
}

.gridList {
	margin: 0 #{-$space} 0 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	> li {
		@extend %_gridList--item;
	}
}

.gridList-item {
	@extend %_gridList--item;
}

/*doc
---
title: Grid List variants
name: gridListVariants
parent: gridList
---

A class of `gridList` is __required__ on the gridList
parent element. By default, gridList creates a 2 column
grid.

The following classes are optional variants:

Class                         | Description
----------------------------- | ------------------------------
`.gridList--photoGrid`        | Optimizes list item spacing for a grid of photos
`.gridList--has[n]`           | Adjusts number of columns (ie. `.gridList--has4` creates a 4 column grid for all screen sizes)
`.atMedium_gridList--has[n]`  | Sets number of columns for medium breakpoint and up (ie. `.atMedium_gridList--has6`)
`.atLarge_gridList--has[n]`   | Sets number of columns for large breakpoint and up (ie. `.atLarge_gridList--has10`)

*/
.gridList--photoGrid {
	margin: 0 #{-($space + $space-half)} 0 #{-$space};
	padding: 0;
	> li {
		padding: 0 $space-quarter $space-quarter 0;
	}
}

// small/default
@each $col in $glColumns {
	.gridList--has#{$col} > li {
		width: percentage(1 / $col);
	}
}

// larger breakpoints
@each $col in $glColumns {
	@include _bpModifier(gridList, has#{$col}) {
		> li {
			width: percentage(1 / $col);
		}
	}
}
