/*doc
---
title: Checkboxes
name: checkbox
category: Forms
---
A label variant class of `label--switch` is
used for side-by-side inputs and labels.

For radios and checkboxes, we put the `input`
element inside the `label` element.

A class of `checkbox` is __required__ on checkbox
input elements.

```html_example
<label for="check1" class="label--switch chunk">
	<input id="check1" class="checkbox" value="green" type="checkbox" />
	Green
</label>
<label for="check2" class="label--switch chunk">
	<input id="check2" class="checkbox" value="blue" type="checkbox" />
	Blue
</label>
```
*/

//
/* CHECKBOXES */
//
.checkbox {
	-webkit-appearance: none;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	height: $font-size;
	margin: 0 $inputGutter 0 0;
	position: relative;
	top: em(1);
	width: $font-size;
	z-index: 0;
	&:before {
		@include transition (transform, 100ms, $ease-out-quad);
		@include transform(rotate(-45deg) scale(0, 0));

		content: "";

		position: absolute;
		left: em(4);
		top: em(3);
		z-index: 1;

		width: em(8);
		height: em(4);

		border: 2px solid $C_textPrimaryInverted;
		border-top-style: none;
		border-right-style: none;
	}

	&:checked {
		&:before {
			@include transform(rotate(-45deg) scale(1, 1));
		}
	}

	&:after {
		content: "";

		position: absolute;
		top: em(-2);
		left: 0;

		width: 100%;
		height: 100%;

		background: $C_contentBG;

		border: 1px solid $C_textTertiary;
		border-radius: $defaultRadius;

		cursor: pointer;
	}

	&:checked, &:active {
		&:after {
			background: $C_link;
		}
	}

	&:hover, &:focus {
		outline: none;
		&:after {
			box-shadow: inset 2px 2px 4px $C_border;
			border: 1px solid $C_textSecondary;
		}
	}
}

// INVERTED CHECKBOX INPUT
.inverted {
	.checkbox {
		&:after {
			background: $C_contentBGInverted;
			border: 1px solid $C_textSecondaryInverted;
		}

		&:hover, &:focus {
			&:after {
				box-shadow: inset 2px 2px 4px $C_border;
				border: 1px solid $C_textPrimaryInverted;
			}
		}

		&:checked, &:active {
			&:after {
				background: $C_link;
			}
		}
	}
}
