/*doc
---
title: Launcher
name: launcher
category: Forms
---
Applies form field styles to an anchor, for use
in launching custom input (ie. date/location pickers).

```html_example
<div class="chunk">
	<label for="specialPicker2">Pick a location</label>
	<a id="specialPicker2" class="launcher" href="#">Boise, Idaho</a>
</div>
```

## Launcher variants
A class of `launcher` is __required__ for launcher
anchors. The following classes are optional variants

Class                    | Description
------------------------ | ------------------------------------------------------------
`launcher--placeholder`  | Applies placeholder-like text styles for "unselected" values

*/


// TODO: can these styles be merged?
.launcher {
	@extend %_formFont;
	@extend %_formDecoration;
	@extend %backgroundImg--launcher;
	background-position: center right #{$space-quarter};
	background-repeat: no-repeat;
}

.launcher--placeholder {
	font-style: normal;
	color: $C_textTertiary;
	.inverted &{
		color: $C_textTertiaryInverted;
	}
}

