/*doc
---
title: Radios
name: radio
category: Forms
---
A label variant class of `label--switch` is
used for side-by-side inputs and labels.

For radios and checkboxes, we put the `input`
element inside the `label` element.

A class of `radio` is __required__ on radio input
elements.

```html_example
<label for="radio1" class="label--switch chunk">
	<input id="radio1" class="radio" name="radioExample" value="green" type="radio" />
	Green
</label>
<label for="radio2" class="label--switch chunk">
	<input id="radio2" class="radio" name="radioExample" value="red" type="radio" />
	Red
</label>
```
*/

//
/* RADIOS */
//
.radio {
	-webkit-appearance: none;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	height: $font-size;
	margin: 0 $inputGutter 0 0;
	position: relative;
	top: 0;
	width: $font-size;
	z-index: 0;

	&:before {
		@include transition (transform, 100ms, $ease-out-quad);
		@include transform(scale(0,0));

		content: "";

		position: absolute;
		top: em(3);
		left: em(2);
		z-index: 1;

		width: em(12);
		height: em(12);

		background: $C_link;

		border-radius: 999px;
	}

	&:checked, &:active {
		&:before {
			@include transform(scale(1,1));
		}
	}

	&:after {
		content: "";

		position: absolute;
		top: 0;
		left: em(-1);

		width: 100%;
		height: 100%;

		background: $C_contentBG;

		border: 1px solid $C_textTertiary;
		border-radius: 999px;
	}

	&:checked, &:hover, &:focus {
		outline: none;
		&:after {
			border: 1px solid $C_link;
		}
	}
}

// INVERTED RADIO INPUT
.inverted {
	.radio {
		&:after {
			background: $C_contentBGInverted;
			border: 1px solid $C_textSecondaryInverted;
		}
		&:hover, &:focus {
			&:after {
				border: 1px solid $C_textPrimaryInverted;
			}
		}
	}
}
