// TODO: fix selectors
// TODO: doc

.timePicker { // TODO: how does this work?
  list-style: none;
  margin-bottom: 0;
  padding: 8px 0;
  label {
    display: block;
  }
  li { // TODO: wat
    display: inline-block;
  }
}
