/*doc
---
title: RSVP Tags
name: tag
category: UI Components
---
Status tags for RSVP.

```html_example
<div class="rsvpTag rsvpTag--yes">Going</div>
<div class="rsvpTag rsvpTag--no">Not going</div>
<div class="rsvpTag rsvpTag--waiting">Waiting</div>
```


## Variants
A class of `rsvpTag` is __required__.
Variant classes:

Class                | Description
-------------------- | --------------------------
`rsvpTag--yes`       | indicates "yes" RSVP status
`rsvpTag--no`        | indicates "no" RSVP status
`rsvpTag--waiting`   | indicates waitlist RSVP status
*/

.rsvpTag {
	border-radius: $defaultRadius;
	color: $C_textPrimaryInverted;
	display: inline-block;
	padding: $space-quarter;

	@include i18n-only('en') {
		text-transform: capitalize;
	}
}

.rsvpTag--yes {
	background: $C_green; //probably shouldn't use actual color name for this var..
}

.rsvpTag--no {
	background: $C_collectionBGLight;
	color: $C_textPrimary;
}

.rsvpTag--waiting {
	background: $C_contentBGInverted;
}
