/*doc
---
title: Toggle Pills
name: togglePills
category: UI Components
---
Checkbox form elements styled as toggle buttons.

## "unchecked" state
```html_example
<div class="toggleButton">
	<input class="toggleButton-input" type="checkbox" name="topic-dining" id="topic-dining" value="ToggleBtn" />
	<label class="toggleButton-label" for="topic-dining">Dining Out</label>
</div>
```

## "checked" state
```html_example
<div class="toggleButton">
	<input checked class="toggleButton-input" type="checkbox" name="topic-hiking" id="topic-hiking" value="ToggleBtn" />
	<label class="toggleButton-label" for="topic-hiking">Hiking</label>
</div>
```
*/

.toggleButton {
	display: inline-block;
	margin: $space-quarter 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.toggleButton-label {
	@extend %buttonBase;
	@extend %button--bordered;
	@extend %button--small;
	margin: 0;
}

.toggleButton-input {
	display: none;
	&:checked + .toggleButton-label {
		@include animate--bounceInSubtle();
		background: $C_blue;
		border-color: transparent;
		color: $C_textPrimaryInverted;
		font-weight: $W_bold;
	}
}
