/*doc
---
title: Alignment
name: alignMod
category: Modifier Classes
---

__Applies `!important` declaration__

## Text alignment
The following classes change the `text-align` of an element.

Class                    | Description
------------------------ | --------------------------------
`.align--left`           | sets `text-align` to `left`
`.align--right`          | sets `text-align` to `right`
`.align--center`         | sets `text-align` to `center`


## Vertical alignment
The following classes adjust vertical centering of element
contents.

For elements displaying as `inline-block` or `table-cell`,
the `vertical-align` property is used.

For flex children, these classes set the `align-self` property
to a value that best matches the `vertical-align` value.

Class                    | Description
------------------------ | --------------------------------
`.valign--baseline`      | vertically centers element to baseline
`.valign--bottom`        | vertically centers element to bottom
`.valign--middle`        | vertically centers element to middle
`.valign--top`           | vertically centers element to top

*/
$_verticalAlign-to-selfAlign: (
	baseline: baseline,
	bottom: flex-end,
	middle: center,
	top: flex-start
);

@each $alignment in (left, right, center) {
	@include _modifier(align, $alignment) {
		@include align-self($alignment);
		text-align: $alignment !important;
	}
}

@each $valignment in (baseline, bottom, middle, top) {
	@include _modifier(valign, $valignment) {
		@include align-self( map-get($_verticalAlign-to-selfAlign, $valignment) );
		vertical-align: $valignment !important;
	}
}
